:root {
    --blue: #002eff;
    --cyan: #42e8b4;
    --grey: #a4a4a6;
    --grey-light: #dbdbdb;
    --orange: #ff560a;
}

body {
    min-height: 100vh;
    background-color: var(--blue);
    background-image: linear-gradient(147deg, var(--blue) 0%, var(--cyan) 100%);
    font-family: Barlow, sans-serif;
}

p {
    margin: 0;
}

.imagen {
    background: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.informacion {
    background: var(--blue);
    border-radius: 8px;
    color: #fff;
    padding: 1rem;
}

.informacion__titulo {
    border-bottom: 5px solid #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.informacion__lista {
    counter-reset: list-number;
    text-align: justify;
    margin-left: 10px;
    margin: 0;
    padding: 0 0 0 10px;
    position: relative;
}

.informacion__lista-item {
    list-style-type: none !important;
    margin-bottom: 1rem;
}

.informacion__lista li:before {
    counter-increment: list-number;
    content: counter(list-number);
    margin-right: 10px;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: var(--blue);
}

.informacion__imagen {
    position: absolute;
}

.informacion__boton--white {
    background: #fff;
    color: var(--blue);
}

.desicion__titulo {
    background: var(--orange);
    border-radius: 8px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: .5rem;
}

.desicion__opcion {
    position: relative;
}

.desicion__label {
    background: var(--grey-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 100;
}

.desicion__boton {
    background: var(--cyan);
    border-radius: 20px;
    border: none;
    color: #000;
    height: 60px;
    padding-left: 20px;
    position: absolute;
    top: 5px;
    left: 50px;
    z-index: 10;
}

.desicion__boton--deshabilitado {
    cursor: default !important;
}

.boton-regresar {
    background: var(--orange);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    padding: 1rem;
    position: absolute;
    top: 20px;
    left: 0px;
}