*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bs-primary: rgb(15, 45, 245);
    --bs-cyan: #42e8b4;
    --bs-purple: #b9badc;
    --bs-purple-light: #c0c1d7c5;
}

.bg-cyan {
    background: var(--bs-cyan);
}

.container {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img {
    width: 30px;
    height: 30px;
}

.imagen {
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.imagen img {
    max-width: 350px;
}

.imagen p {
    background: rgb(101, 200, 237);
    color: rgb(15, 6, 152);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    margin-bottom: 0;
}

.lineamiento {
    background: var(--bs-primary);
    border-radius: 10px;
    color: #FFF;
    font-size: .8rem;
    padding: .5rem;
    text-align: center;
}

.lineamiento__lista {
    background: rgb(238, 240, 254);
    border-radius: 10px;
    list-style-type: none;
    padding: 1rem;
}

.lineamiento__lista li {
    color: var(--bs-primary);
    font-weight: bold;
    text-align: justify;
}

.pregunta {
    background: rgb(15, 6, 152);
    border-radius: 10px;
    color: #FFF;
    font-size: .8rem;
    padding: .5rem;
    text-align: center;
}

.pregunta h2 {
    color: #42e8b4;
}

.pregunta p {
    color: rgb(101, 200, 237);
    font-size: 2rem;
    font-weight: bold;
}